<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Time_Attendance.Properties.Settings.TimeAttendanceConnectionString" connectionString="Data Source=.;Initial Catalog=TimeAttendance;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Time_Attendance.Properties.Settings.TimeAttendanceConnectionString1" connectionString="Data Source=.;Initial Catalog=TimeAttendance;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
